body {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/15/59/67/1559679531def74c29c91306d1f4a5f0.jpg);
}
.form-group {
font-family: fantasy;
}
#select {
  background-color: violet;
  opacity: 0.8;
  margin-top: 10px;
  padding: 20px;
  font-weight: bolder;
  color: black;
  font-size: medium;
  border-radius: 25px;
}
#pizzaSize {
  background-color: violet;
  opacity: 0.8;
  color: black;
  width: 610px;
}
#price {
  background-color: violet;
  opacity: 0.9;
  color: black;
  font-size: larger;
  border-radius: 25px;
}
#formPizza {
  text-align: center;
  margin-right: 280px;
  margin-left: 280px;
}
#magic {
  background-image: url(https://thumbs.gfycat.com/KnobbyUnnaturalCowrie-small.gif);
  color: whitesmoke;
  width: 350px;
  height: 100px;
  border-radius: 20px;
  opacity: 0.9;
  font-size: x-large;
}
img {
  height: 250px;
  width: 250px;
  border-radius: 200px;
  opacity: 0.9;
}
